.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/ff/b04eafa43e72001619d6a989a222f7b9
.metadata/.plugins/org.eclipse.core.resources/.history/e9/507ff8483f72001619d6a989a222f7b9
.metadata/.plugins/org.eclipse.core.resources/.history/60/006aea843f72001619d6a989a222f7b9
*.snap
.metadata/.plugins/org.eclipse.core.resources/.history/36/9056437d3f72001619d6a989a222f7b9
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/43/b09461b03f72001619d6a989a222f7b9
.metadata/.plugins/org.eclipse.core.resources/.history/46/c0ea1adc3a72001619d6a989a222f7b9
*.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/nextLargest.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
*.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.core/.launches/fairCoinProblem.launch
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
*.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
*.fdt
*.log
.metadata/.mylyn/.taskListIndex/segments_1
*.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
*.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
*.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
*.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
*.zip
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
*.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
*.json
.metadata/.plugins/org.eclipse.jdt.core/1063230161.index
*.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
*.png
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.setup
.metadata/version.ini
*.xmi
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
*.fnm
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log